# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# VS Code
.vscode/

# IDEs
.idea/

# Testing / typing / coverage
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/

# Build / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints

# Environment / secrets
.env
.env.*

# OS files
Thumbs.db
.DS_Store